@model BR.Soccer.Models.ViewModels.GroupEntryViewModel

<tr class="@Model.RowClass">
    <td class="team_name">@Model.DisplayName</td>
    <td class="result">@Model.PlayedGames</td>
    <td class="result">@Model.Wins</td>
    <td class="result">@Model.Draws</td>
    <td class="result">@Model.Losses</td>
    <td class="result">@Model.GoalsFor</td>
    <td class="result">@Model.GoalsAgainst</td>
    <td class="result">@Model.GoalDifferenceFormatted</td>  
    <td class="result">@Model.Points</td>                       
</tr>  
