@model BR.Soccer.Models.InputModels.TournamentGameResult

@{
    ViewBag.Title = "MatchResults";
}

<h2>MatchResults</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tournament Game Result</legend>

        @Html.HiddenFor(model => model.GameId)
        @Html.HiddenFor(model => model.TournamentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Team1Score, Model.Team1Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Team1Score)
            @Html.ValidationMessageFor(model => model.Team1Score)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Team2Score, Model.Team2Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Team2Score)
            @Html.ValidationMessageFor(model => model.Team2Score)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Tournament", "Details", new { id = Model.TournamentId, admin = 1 })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
